/* Mobile */

.session-brief-header {
}
.session-brief-date {
}
.session-brief-time {
}
.session-brief-bio {
}
.session-brief-moreInfo {
  width: 30%;
  background-color: transparent;
}
.rsvp {
  background-color: #fbb506;
  width: 30%;
}
.btn-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.session-brief-contain {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  color: white;
  height: 20rem;
  width: 15rem;
  margin: 1rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #028389;
}

/* Card */
.sessionCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sessionHeader {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem 0;
}
.session-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SearchBar {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.sticky {
  /* The sticky class is added to the header with JS when it reaches its scroll position */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
/* ======================== */

/* Tablet */

/* ======================== */

/* Desktop */

/* ======================== */
