/* Mobile */

.session-brief-header {
  display: flex;
  height: 2.7rem;
  align-items: center;
  font-weight: 400;
  padding-left: 0.7rem;
  font-size: 1.1rem;
  background: white;
  color: #015458;
  border: 3px solid #028389;
  /* box-shadow: 1px 0px 1px 1px #015458; */
}
.session-brief-date {
}
.session-brief-time {
}
.session-brief-bio {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.733);
}
.session-brief-moreInfo {
  text-decoration: underline;
  text-decoration-style: solid;

  width: 30%;
  background-color: transparent;
}
.rsvp {
  background-color: #fbb506;
  width: 40%;
}
.btn-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.session-brief-contain {
  justify-content: space-evenly;
  display: flex;
  /* box-shadow: 1px 0px 1px 1px #015458; */
  border: 1px solid #015458;
  flex-direction: column;
  color: white;
  height: 16rem;
  width: 85vw;
  margin: 0 0 0.7rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #028389;
}

/* Card */
.sessionCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sessionHeader {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem 0;
}
.session-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SearchBar {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.sticky {
  /* The sticky class is added to the header with JS when it reaches its scroll position */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
/* ======================== */

/* Tablet */

/* ======================== */

/* Desktop */

/* ======================== */
