.Profile-Container {
  background-color: #028389;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile-Container h3 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 2.5% 0%;
}

.User-Container {
  height: auto;
  width: 90%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.User-Container .Profile-Picture {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 0%;
}

.User-Container .Profile-Picture img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.User-Container .User-Content {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 3% 0%;
}

.User-Content .User-Institution {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 18px;
  margin-top: 2%;
}

.User-Content .User-Major-Year {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-style: italic;
  color: white;
  font-size: 12px;
  margin-bottom: 2%;
}

.User-Content .User-Bio {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 12px;
  text-align: center;
}

.User-Accepted-Sessions-Container {
  padding: 4%;
  width: 90%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  height: auto;
}

.Session-Container {
  height: auto; 
}

.Profile-Container .Accepted-Sessions-Title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 0.5;
}

.empty-message {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 13px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .empty-message {
    font-size: 15px;
  }
  .Profile-Container .Accepted-Sessions-Title {
    font-size: 22px; 
  }
  .Profile-Container h3 {
    font-size: 30px;
  }
  .User-Content .User-Institution {
    font-size: 22px;
  }
  .User-Content .User-Major-Year {
    font-size: 15px;
  }
  .User-Content .User-Bio {
    font-size: 15px;
  }
  .User-Container .Profile-Picture img {
    height: 125px; 
    width: 125px; 
    border-radius: 62.5px; 
  }
}

@media screen and (min-width: 1024px) {
  .Profile-Container h3 {
    font-size: 35px;
  }
}

@media screen and (min-width: 1440px) {
  .Profile-Container h3 {
    font-size:40px;
    padding: 1.75%;
  }
  .User-Container .Profile-Picture img {
    height: 150px; 
    width: 150px; 
    border-radius: 75px; 
  }
  .Profile-Container .Accepted-Sessions-Title {
    font-size: 25px;
  }
  .empty-message {
    font-size: 18px;
  }
  .User-Content .User-Institution {
    font-size: 25px;
  }
  .User-Content .User-Major-Year {
    font-size: 18px;
  }
  .User-Content .User-Bio {
    font-size: 18px;
    padding: 0px 10px;
  }
}