
.create-user-container {
  height: 100%;
  width: 100vw;
  background-color: #028389;
  text-align: center;
}

.create-user-box {
  height: 80%;
  width: 80vw;
  margin: 0 auto;
  border-radius: 80px;
  padding: 1rem;
}

.create-user-box h1 {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 1em;
}

.signup_button {
  margin:2rem auto;
  width: 70%;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: #20494c;
  color: white;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

