.signup_label {
  color: white;
  margin-bottom: 0.5rem;
  display: block;
}

.signup_input {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  padding: 10px; 
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  height: 2.5rem;
  font-size: 1rem;
  border: 0;
}

.signup_input::placeholder {
  font-weight: 300;
  color: lightgray;
}

.signup_select_gray {
  font-weight: 300;
  color: lightgray;
}

.signup_select_option {
  border: 10px solid blue;
  color: green;
  font-size: 5rem;
  width: 100%; 
}


.signup_textarea {
  height: 6rem;
}

.bio_counter{
  margin-top: -1.8rem;
  color: #FFB6C1;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.signup_error {
  font-size: 0.8rem;
  color:#FFB6C1;
}

.signup_error:before {
  font-family: FontAwesome;
  content: "\f071";
  margin-right: 0.5rem;
}
