.Create-Session-Container {
  height: 100%;
  width: 100vw;
  background-color: #028389;
}

.Create-Session-Box {
  height: 80%;
  width: 80vw;
  margin: 0 auto;
  border-radius: 80px;
  padding: 1rem;
}

.Create-Session-Box h1 {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 1em;
}

.Create-Session-Form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Create-Session-Form .Field input {
  margin-bottom: 5px;
}

.Create-Session-Form .Field div:last-child {
  top: -20px;
}

.Create-Session-Form .Description div:first-child {
  bottom: unset;
  top: 12px;
}

.Create-Session-Form .Description div:last-child textarea:last-child {
  top: 18px;
}

.Create-Session-Form.DatePicker,
.Create-Session-Form div {
  width: 100%;
}

.DatePicker div div:first-child::after {
  content: '\f133';
  font-style: normal;
  font-family: FontAwesome;
  font-size: 1.5em;
  position: absolute;
  right: 0;
}

.TimePicker div:first-child::after {
  content: '\f107';
  font-style: normal;
  font-family: FontAwesome;
  font-size: 1.5em;
  position: absolute;
  right: 0;
}

.Create-Session-Form p {
  font-size: 14px;
  color: white;
}

.Create-Session-Form input[type='number']::-webkit-outer-spin-button,
.Create-Session-Form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Create-Session-Form .Create-Session-Submit {
  width: 70%;
  height: 50px;
  border-radius: 30px;
  border: none;
  margin: 25px 0;
  background-color: #20494c;
  color: white;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
